@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;

}

:root {
  --verdeescuro: #14424b;
  --verde: #2f9364;
  --laranja: #ff7c37;
  --degrade-btn: linear-gradient(#fe9611, #ff5c00);
  --color-p: #a1a1a1;
  --clor-p2: #869595;
  --color3: purple;
}

.background-verde {
  background: var(--verdeescuro);

}

#icon-menu {
  filter: brightness(0) saturate(88%) invert(100%) sepia(84%) saturate(500%) hue-rotate(200deg);
}

header {
  background-color: var(--verdeescuro);
  position: sticky;
  top: 0;
}

.container {
  max-width: 1440px;
  padding: 0 5%;
  margin: 0 auto;
}

div .container {
  max-width: 1440px;
  padding: 0 5%;
  margin: 0 auto;


}

section,
footer {
  padding: 2.7rem 0;

}

.btn-gradiente {
  padding: 10px 25px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-image: var(--degrade-btn);


}

.btn-gradiente:hover {
  background: var(--clor-p2);
  cursor: pointer;
  transition: 1s;
}

nav {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.logo a {
  font-size: 10px;
  font-weight: bold;
  color: var(--color-p);
}

.logo img {
  display: block;
  border: none;
  border-radius: 50%;
}

.ul {
  display: flex;
  align-items: center;
}

.ul li {
  margin: 0 35px;
  font-size: 15px;
}

.ul li a {
  color: white;
}

.ul li a:hover {
  color: var(--laranja);
  cursor: pointer;
  transition: 1s;

}

main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;

}

.main-text {
  width: 50%;
  color: white;
}

.main-text h1 {
  font-size: 4.5rem;
}

.main-text div {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.main-img {
  width: 50%;
}

.main-img img {
  width: 60%;
  border-radius: 30px;
  padding-top: 18px;
}

.menu-icon {
  display: none;
  position: relative;
  z-index: 10;
}

.diferencias {
  background-color: white;
}

.diferencias .container {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

.diferencias .card {
  width: 30%;
  cursor: pointer;
  padding: 30px;
  margin: 10px;
  border-radius: 15px;
  transition: 1s;

}

.diferencias .card:hover {
  box-shadow: 0px 10px 67px 8px var(--clor-p2);
}

.diferencias .card img {
  width: 65px;
}

.diferencias .card .titulo {
  margin: 13px 0;
  font-weight: 600;
  color: var(--color-p);
}

.diferencias .card p {
  color: var(--clor-p2);
}

.casa {
  background-color: white;
}

.casa .container {
  display: flex;
  align-items: center;
}

.casa .casa-img {
  width: 70%;
  padding: 30px;
}

.casa .casa-img img {
  width: 100%;
  border-radius: 10px;

}

.casa .casa-text {
  width: 50%;
  padding-left: 4px;
}

.casa .casa-text h2 {
  font-size: 2.5rem;
  color: var(--laranja);
}

.casa .casa-text p {
  margin: 20px 0;
  color: var(--color-p);
}

.casa .casa-text img {
  border-radius: 50px;
}

.casa .casa-text p b {
  color: var(--laranja);
  font-size: 25px;
}

.melhores-lugares .azul {
  font-size: 24px;
  font-weight: 600;
  color: var(--clor-p2);
  margin: 30px;
}

.melhores-lugares {
  background-color: var(--verdeescuro);
}

.melhores-lugares h2 {
  font-size: 2.5rem;
  margin: 30px;
  color: white;
}

.melhores-lugares .card {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 30px;
}

.melhores-lugares .card-item {
  width: 30%;
  text-align: center;
  padding: 30px 0;
  border-radius: 20px;
  box-shadow: 0px 35px 97px -15px rgba(0, 0, 0, 0.08);
  transition: 1s;
}

.melhores-lugares .card-item:hover {
  box-shadow: 0px 10px 67px 8px var(--clor-p2);
}


.melhores-lugares .card img {
  width: 80px;
}

.melhores-lugares .card .local-casa {
  margin: 5px 0;
  color: var(--color-p);
}

.melhores-lugares .card .nome-casa {
  font-size: 30px;
  font-weight: 500;
  color: var(--laranja);
}

.melhores-lugares .card .contato {
  margin-bottom: 20px;
  color: var(--clor-p2);
}

.melhores-lugares .card button {
  padding: 10px 20px;
  color: white;
  background-color: var(--laranja);
  border-radius: 20px;
  border: none;
  transition: 1s;
}

.melhores-lugares .card button:hover {
  cursor: pointer;
  background: var(--color-p);
}

.newseletter {
  background-color: white;
}

.newseletter .box-newseletter {
  text-align: center;
  padding: 100px;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.newseletter .box-newseletter h2 {
  font-size: 2.5rem;
  color: var(--laranja);
}

.newseletter .box-newseletter p {
  margin: 13px 0;
  color: var(--color-p);
}

.newseletter .box-newseletter input {
  width: 35%;
  padding: 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  color: #00000098;
  background-color: #faefda;
}

.newseletter .box-newseletter button {
  font-size: 15px;
  border: none;
  padding: 15px;
  outline: none;
  border-radius: 15px;
  color: white;
  background-color: var(--laranja);
  cursor: pointer;
  transition: 1s;
}

.newseletter .box-newseletter button:hover {
  background-color: var(--color-p);
}

footer {
  background-color: var(--verdeescuro);
}

footer .container {
  display: flex;
  color: white;
}

footer .container ul {
  width: 25%;
}

footer .container h3 {
  margin-bottom: 16px;
  font-weight: 600;
}

footer .container .redes-sociais img {
  filter: brightness(0) saturate(88%) invert(100%) sepia(84%) saturate(500%) hue-rotate(200deg);
  margin-right: 10px;
}

footer .container ul>p {
  margin-bottom: 40px;
  color: #a1a1a1;
}

footer .container li p {
  margin: 10px 0;
  color: #a1a1a1;
}

footer .container a {
  color: var(--verde);
  cursor: pointer;
  transition: 1s;
}

footer .container li a:hover {
  color: var(--color-p);
}

@media (max-width:950px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .ul {
    position: fixed;
    background: var(--verdeescuro);
    top: 0;
    width: 100%;
    height: 100%;
    left: 100%;
    transition: 1s;
    flex-direction: column;
    justify-content: center;
  }

  .ul li {
    font-size: 20px;
    margin: 20px 0px;
  }

  .ul li:hover {
    color: var(--degrade-btn);
    cursor: pointer;
    transition: 0.4s;
  }

  .ul.ativo {
    left: 0;
  }

  main .container {
    flex-direction: column;
  }

  main .container,
  main .container .main-text {
    width: 100%;
    text-align: center;
  }

  main .container .main-text div {
    justify-content: center;
  }

  main .container .main-text h1 {
    font-size: 3rem;
  }

  .resultados .container {
    flex-direction: column;
  }

  .resultados .resultados-numero {
    margin-top: 30px;
  }

  .resultados .resultados-numero,
  .resultados .resultados-text {
    width: 100;
    text-align: center;

  }

  .diferencias .container {
    flex-direction: column;

  }

  .diferencias .card {
    width: 100%;

  }

  .casa .container {
    flex-direction: column-reverse;
  }

  .casa .casa-text,
  .casa .casa-img {
    width: 100%;
    text-align: center;

  }

  .melhores-lugares .card {
    flex-direction: column;
  }

  .melhores-lugares .card .card-item {
    width: 100%;
    margin-top: 50px;
  }

  .newseletter .box-newseletter {
    padding: 50px;
  }

  .newseletter .box-newseletter h2 {
    font-size: 2rem;
  }

  .newseletter .box-newseletter input {
    width: 90%;
  }

  .newseletter .box-newseletter button {
    width: 50%;
    margin-top: 20px;
  }

  footer .container {
    flex-direction: column;
  }

  footer .container ul {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width:445px) {
  .resultados .resultados-numero {
    flex-direction: column;
  }
}

.resultados {
  background: #FA8607;
}

.resultados .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resultados .resultados-text {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  width: 50%;
}

.resultados .resultados-numero {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.resultados .resultados-numero p {
  text-align: center;
  margin: 0 30px;
  font-size: 20px;
}

.resultados .resultados-numero p span {
  font-size: 30px;
  font-weight: 600;
}
